[data-routine-id] {
	a {
		cursor: pointer;
	}

	.routine-output-buffer {
		white-space: pre-line;
		border: solid 1px black;
		margin: 10px auto;
		padding: 10px;
		height: 50vh;
		overflow: auto;
		background-color: black;
		color: #0F0;
		font-weight: bold;
		font-family: monospace;

		& a {
			color: #0F0;
		}
	}
}